<h1>Formulario</h1>
<form (ngSubmit)="OnRegister()" #myForm="ngForm">
    <div class="input-group">
        <label for="name">Nombre</label>
        <input type="text" required id="name" name="name" [(ngModel)]="register.name">
        <p>Mensaje Error</p>
    </div>
    <div class="input-group">
        <label for="email">Email</label>
        <input type="text" required id="email" name="email" [(ngModel)]="register.email">
        <p>Mensaje Error</p>
    </div>
    <div class="input-group">
        <label for="password">Password</label>
        <input type="password" required id="password" name="password" [(ngModel)]="register.password">
        <p>Mensaje Error</p>
    </div>
    <button [disabled]="myForm.invalid" type="submit">Registrar</button>
    <button type="button">Accion</button>
</form>
<hr>
<h1>NgClass and NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<hr class="line-error"
    [ngClass]="{
     'valid': nameInput.valid, 
     'invalid': nameInput.invalid  
    }"
/>
<p class="message-error" [class.invalid]="nameInput4.invalid"> 
    El campo es requerido
</p>

<div class="styles">
    <div>
        <input type="number" [(ngModel)]="box.width">
        <input type="number" [(ngModel)]="box.height">
        <input type="color" [(ngModel)]="box.background">
    </div>
    <div [ngStyle]="{
        'width.px':box.width,
        'height.px': box.height,
        'background-color': box.background,
        'display': 'block'
    }">
        <div></div>
    </div>
</div>
<hr>
<h1>class and style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid"> 
    El campo es requerido
</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid?'italic' : 'normal'">texto texto texto</p>
<div>
    <div>
        <input type="text" [(ngModel)]="widthImg">
    </div>
    <div>
        <img [style.width.px]="widthImg" [src]="person.avatar" alt="">
    </div>
</div>
<hr>
<h1>ngSwitch </h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
    <p *ngSwitchCase="'nicolas'">
        La persona es nicolas
    </p>
    <p *ngSwitchCase="'julian'">
        La persona es julian
    </p>
    <p *ngSwitchCase="'camilo'">
        La persona es camilo
    </p>
    <p *ngSwitchDefault="">
        No hace match
    </p>

</div>
<hr>
<h1>*ngFor oBjs</h1>
<div class="products--grid">
    <div *ngFor="let produt of products">
        <img [src]="produt.image" alt="producto">
        <h2>price: {{produt.price}}</h2>
        <h2>name: {{produt.name}}</h2>
    </div>
</div>
<hr>
<h1>*ngFor</h1>
<ul>
    <input type="text" required [(ngModel)]="newName" >
    <button (click)="addName()">add name</button>
    <p *ngIf="names.length === 0">No hay elementos en la lista!!!</p>
    <li *ngFor="let name of names; index as i">
      {{i}} {{name}}
      <button (click)="deleteName(i)">delete</button>
    </li>
</ul>
<hr>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name"/>
<p *ngIf="person.name==='nicolas'">Soy Nicolas</p>
<p *ngIf="person.name==='julian' && person.age===18; else myBlock">Soy Julian</p>
<ng-template #myBlock>
    <p>Bloque de else</p>
</ng-template>
<hr>
<h1>ngModel</h1>
<p>Nombre {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>Valid: {{nameInput.valid}}</p>
<p>Age {{person.age}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age"/>
<p>Valid: {{ageInput.valid}}</p>
<hr>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore doloremque natus fugiat provident repudiandae. Necessitatibus dolorem veniam doloremque voluptas veritatis, perspiciatis repellat quisquam nobis totam magni incidunt quis, facilis minus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa quidem blanditiis tempore error quod debitis esse nulla! Nihil architecto asperiores eveniet nam, ut quos delectus ab tempore fugiat repellat praesentium.</p>
</div>
<p>Nombre {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<hr>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" alt="imagen" width="100">
<hr>
<h1>hola mundo</h1>
<h2>{{"Hola mundo".repeat(5)}}</h2>
<h2>3+3={{3+3}}</h2>
<h2>hola mi nombre es {{name}} y tengo {{age}} </h2>
<img width="100" src={{img}} alt="imagen">
